*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.brf
*.sty
*.synctex.gz
tex/
texResearchPRoj
Stardust/
robe/
src/
matlab/DesigningRobotManipulatorAlgorithms
matlab/slprj/
matlab/SPART/
